*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}
.container
{
    display: flex;
    border: 1px solid black;
    width: 70%;
    align-items: center;
    justify-content: center;
    height: 55vh;    
    padding: 30px 50px;
    background-color: rgb(70, 66, 66);
    border-radius: 10px;
    position: absolute;
    top: 10pc;
    left: 14pc;
    box-shadow: 0 12px 20px grey;
}
.result-section
{
    color: white;
    font-size: 25px;
}
.ques-section{
    width: 50%;
    margin: 0 5px;
    color: white;
    height: 60%;
}
.ans-section{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 5px;
    align-items: center;
}

span{
    font-size: 45px;
}
.question{
    margin-top: 10px;
}
button{
    width: 190px;
    padding: 20px;
    margin: 5px;
    border: 3px solid rgb(121, 112, 112);
    outline: none;
    background-color: rgb(70, 66, 66);
    color: white;
    border-radius: 30px;
}
button:hover{
    background-color: rgb(121, 112, 112);
    cursor: pointer;
}
@media (max-width: 1350px) {
    .container
    {
        width: 80%;
        left: 9pc;
    }
}
@media (max-width: 950px) {
    .container
    {
        width: 80%;
        left: 6pc;
    }
}
@media (max-width: 739px) {
    .container
    {
        display: flex;
        flex-direction: column;
        height: 90vh;
        top: 2pc;
        left: 4pc;
    }
    .ques-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .question{
        text-align: center;
    }
}
@media (max-width: 460px) {
    .container
    {
        height: 90vh;
        left: 1.5pc;
        top: 2pc;
        width: 90%;
    }
    span{
        font-size: 25px;
        font-weight: 800;
    }
    
}